## scheduler.yml
#
# Schedule YAML block format
# --------------------------
# myname:                    # arbitrary key name, must be unique
#   plugin: Twitter          # class name of plugin, not namespaced
#   time: '13:05'            # time to trigger in 24hr clock
#   day: nil                 # Day of week to trigger (0..6), default: nil
#   weekdays: true           # Trigger on all weekdays, default: false
#   weekends: false          # Trigger on all weekends, default: false
#   room: 'Room Name'        # name or ID of room to speak in

hn:
  plugin: HackerNews
  time: '08:00'
  weekdays: true
  room: 'My Room'
